* {
    margin: 0;
    padding: 0;
    background-color: azure;
}

#exemplos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 12px;


   }

form {
    display: flex;
    flex-direction: column;
    width: 200px; 
    gap: 12px;
    margin-bottom: 24px;
}