* {
    margin: 0;
    padding: 0;
   
}


#container {
background-color: #e8e8e8;
height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr  ;
grid-template-rows: 1fr 1 fr 1fr;

}

.caixa {

    width: 140px;
    height: 140px;
   background-color: blueviolet;
   border: solid 6px black;

}


@media (min-width: 768px) {
    .caixa {
        width: 80px;
        height: 80px;
    }
}